body{
    background-color: grey;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#container {
    background-color: black;
    width: 960px;
    height: 960px;
    font-style: bold;
    font-weight: 200px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

#container div {
    background-color: blue;
    border: 1px solid white;
    height: 50px;
    width: 50px;
}

#container div:hover{
    background-color: white;
}