body{
    font-family: "Poppins", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: beige;
}

h1{
    margin-top: 1vh;
    justify-content: center;
    font-size: 8vw;
    background-image: url("./image/7658055.webp");
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
}

#menu{
    margin-top: 10px;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10em;
    width: 100%;
    max-width: 500px;
}

form{   
    margin-top: 1px;
    size: 1vw;
    font-style: bold;
    font-weight: 200px;
}

#buttonMenu{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3em;
}

button{
    font-weight: 200px;
    color: rgb(27, 27, 27);
    background-color: beige;
    size: 3em;
    font-size: 2vh;
    margin: 1vh;
    border-radius: 10px;
    border: 2px solid rgb(170, 170, 170);
}

#blackBrush{
    background-color: black;
    color: white;
}

#rainbowBrush{
    background: linear-gradient(in hsl longer hue 45deg, red 0 100%);
    color: rgb(255, 255, 255);   
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#clearGrid{
    background-color: white;
}

#gridContainer {
    background-color: rgb(245, 245, 245);
    border: 4px solid black;
    width: 98%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 1/1;                  
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    border: 1px solid rgb(101, 101, 101);
}

#gridSizeDisplay{
    margin-top: 5px;
    
}

footer{
}

footer text {
    margin: 2vh;
    color: rgb(0, 0, 0);
    text-align: center;
  }